<div class="section">
  <div class="container">
    <h2 class="form__heading">Create a new event.</h2>

    {{#with (changeset model validator) as |changeset|}}
      <form class="form" method="post" {{action "saveEvent" changeset on="submit"}}>

        {{#file-picker action=(action (mut changeset.eventImg))}}{{/file-picker}}

        {{#each changeset.eventImg as |file|}}
          <p class="uploader-info">{{file.name}} – {{file.size}} bytes</p>
          {{!--{{file.type}}--}}
        {{/each}}

        {{validated-input placeholder="Title" changeset=changeset propertyName="title"}}
        {{validated-input placeholder="Artist(s)" changeset=changeset propertyName="artist"}}
        {{validated-input textarea=true placeholder="Description" changeset=changeset propertyName="description"}}
        



  {{!--{{place-autocomplete-field
          value= model.address
          disable=false
          handlerController= this
          inputClass= 'place-autocomplete--input'
          focusOutCallback='done'
          placeChangedCallback='placeChanged'
          types='(cities)'
          restrictions=restrictionsObjectFromController
          withGeoLocate=true 
        }}--}}




        {{validated-input placeholder="Street Address" changeset=changeset propertyName="address"}}
        {{validated-input placeholder="City" changeset=changeset propertyName="city"}}
        {{validated-input placeholder="State" changeset=changeset propertyName="state"}}
        {{validated-input placeholder="Zip" changeset=changeset propertyName="zip"}}
        {{#basic-dropdown as |dropdown|}}
          <input type="text"
          data-ebd-id="{{dropdown.uniqueId}}-trigger"
          class="datepicker-demo-input"
          placeholder="Select Date"
          onclick={{dropdown.actions.toggle}}
          onfocus={{dropdown.actions.toggle}}
          value={{if changeset.date (moment-format changeset.date 'DD-MM-YYYY')}}
          readonly>

          {{#dropdown.content class="datepicker-demo-dropdown"}}
            {{#power-calendar class="demo-calendar-medium"
              center=center
              onCenterChange=(action (mut center) value="date")
              selected=changeset.date
              onSelect=(action (mut changeset.date) value="date") as |calendar|}}
              {{calendar.nav}}
              {{calendar.days}}
            {{/power-calendar}}
          {{/dropdown.content}}
        {{/basic-dropdown}}
        {{validated-input type="time" placeholder="Start Time" changeset=changeset propertyName="startTime" }}
        {{validated-input type="time" placeholder="End Time" changeset=changeset propertyName="endTime"}}
        <div class="btn__grid">
          {{#link-to 'event' class="btn btn-form" }}Back{{/link-to}}
          <button type="submit" name="Go" class="btn btn-form">Submit</button>
        </div>
      </form>
    {{/with}}
  </div>
</div>
