<div class="section index">
  <div class="container">
    {{!-- TODO add action to form --}}
    <form class="form" action="searchLocation" method="post" {{action "searchLocation" search on="submit"}}>
      <div class="form__block">
        {{input type="text" placeholder="Where are you?" class="form__input" value=search}}
        <span><button type="submit" name="Go" class="button button-go button-fw">Go!</button></span>
      </div>
    </form>
    <div class="index-grid">
      {{event-index-card event=(hash name="Floridian Floral Prints")}}
      {{event-index-card event=(hash name="Gibralter's Legs")}}
      {{event-index-card event=(hash name="For Reconciliation")}}
      {{event-index-card event=(hash name="Oh, We The Fortunate")}}
      {{event-index-card event=(hash name="Colossas")}}
      {{event-index-card event=(hash name="Steady Money")}}
      {{event-index-card event=(hash name="Contractual Follicles")}}
      {{event-index-card event=(hash name="Alpine Inversion")}}
      {{event-index-card event=(hash name="Fourth of July Fish Fry My Guy")}}
      {{event-index-card event=(hash name="Relapse")}}
      {{event-index-card event=(hash name="Fling")}}
      {{event-index-card event=(hash name="For the Record")}}
      {{event-index-card event=(hash name="Absolutely Honey")}}
      {{event-index-card event=(hash name="Greedy Baby")}}
      {{event-index-card event=(hash name="Curriculum")}}
      {{event-index-card event=(hash name="Solipsist")}}
      {{event-index-card event=(hash name="A Study Of")}}
      {{event-index-card event=(hash name="Longetivity")}}
      {{event-index-card event=(hash name="Beyonce's")}}
      {{event-index-card event=(hash name="Favorite Barnacle")}}
    </div>
  </div>
</div>

{{outlet}}
