<div class="section index">
  <div class="container">
    {{!-- TODO add action to form --}}
    <form class="form" action="searchLocation" method="post" {{action "searchLocation" search on="submit"}}>
      <div class="form__block">
        {{input type="text" placeholder="Where are you?" class="form__input" value=search}}
        <span><button type="submit" name="Go" class="button">Go!</button></span>
      </div>
    </form>
    <h2>Searching {{lat}} and {{lng}}</h2>
    <div class="index-grid">
      {{#link-to "detail" class="index-grid__item f-source" }}Floridian{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-vt" }}Falafal{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-quicksand" }}Is Reconciliation{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-raleway" }}Fortunate{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-lora" }}Colossas{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-muli" }}Does the Veggie{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-inconsolata" }}Contractual Follicles{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-catamaran" }}Alpine{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-crimson" }}Fiending{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-abril" }}Relapse{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-gloria" }}Fling{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-space" }}For the Record{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-amatic" }}Absolutely Honey{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-josefin" }}Greedy Baby{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-righteous" }}Curriculum{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-bungee" }}Solipsist{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-poiret" }}Vernacular{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-courgette" }}Guru{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-playfair" }}Beyonce's{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-didact" }}Favorite{{/link-to}}
      {{#link-to "detail" class="index-grid__item f-sorts" }}Barnacle{{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
