<div class="section index">
    <div class="container">
      {{!--<h1 class="index-logo">{{#link-to 'event'</h1>--}}
        {{!--{{#link-to 'event' class="index-logo"}}<img src="../../../../photos/goodalllogo.png" alt="">{{/link-to}}--}}
      <form class="form" method="post" {{action "searchLocation" search on="submit"}}>
        <div class="form__block">
          {{input type="text" placeholder="Search By Zip Code" class="form__input" value=search}}
          {{!--{{search-filter}}--}}
          <span><button type="submit" id=1 name="Go" class="btn btn-form btn-fw">Search</button></span>
        </div>
      </form>
    <div class="index-grid">
      {{#each model as |event|}}
        {{#link-to 'event.detail' event.id class=(event-card-class font=font fontSize=fontSize fontColor=fontColor) invokeAction='toggleModal'}}{{event.title}}{{/link-to}}
      {{/each}}
    </div>
  </div>
  {{outlet}}
</div>
