{{#burger-menu as |burger|}}
  {{#burger.menu dismissOnItemClick=true itemTagName="li" as |menu|}}
    <ul>
      {{#menu.item}}
        {{#link-to 'event'}}<img src="../photos/DIY Logo.png" class="bm-menu-logo" alt="logo">{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'event.new'}}Create Event{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#if session.isAuthenticated}}
          <a href="#" {{action 'invalidateSession'}}>Logout</a>
          {{#if currentUser.user}}
            <p class="btn">Signed in as {{currentUser.user.username}}</p>
          {{/if}}
        {{else}}
          {{#link-to 'login'}}Login{{/link-to}}
        {{/if}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <button {{action burger.state.actions.toggle}} class="burger__bars">{{fa-icon "bars"}}</button>
    {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}}
