<h2 class="form__heading">Create an account </h2>

{{#with (changeset model validator) as |changeset|}}
<form class="form" method="post" {{action "createUser" changeset on="submit"}}>
  {{validated-input placeholder="Username" changeset=changeset propertyName="username"}}
  {{validated-input placeholder="Email" changeset=changeset propertyName="email"}}
  {{validated-input placeholder="Password" changeset=changeset propertyName="password" type="password"}}
  {{validated-input placeholder="Confirm Password" changeset=changeset propertyName="passwordConfirmation" type="password"}}
  <div class="button__grid">
    {{#link-to "login" class="btn btn-back"}}Back{{/link-to}}
    <button type="submit" name="Go" class="btn btn-go">Go!</button>
  </div>
</form>
{{/with}}
{{outlet}}
