{{#modal-dialog close="toggleModal" targetAttachment="center" renderInPlace=true translucentOverlay=true}}

      {{#with (changeset model validator) as |changeset|}}
        <form class="modal-form" method="patch" {{action "saveEvent" changeset on="submit"}}>
  
          {{#file-picker-modal action=(action (mut changeset.eventImg))}}{{/file-picker-modal}}
  
          {{#each changeset.eventImg as |file|}}
            <p class="modal-uploader-info">{{file.name}} {{file.type}} {{file.size}}</p>
          {{/each}}
  
          {{validated-input-modal placeholder="Title" changeset=changeset propertyName="title"}}
          {{validated-input-modal placeholder="Artist(s)" changeset=changeset propertyName="artist"}}
          {{validated-input-modal textarea=true placeholder="Description" changeset=changeset propertyName="description"}}
          {{validated-input-modal placeholder="Street Address" changeset=changeset propertyName="address"}}
          {{validated-input-modal placeholder="City" changeset=changeset propertyName="city"}}
          {{validated-input-modal placeholder="State" changeset=changeset propertyName="state"}}
          {{validated-input-modal placeholder="Zip" changeset=changeset propertyName="zip"}} 

        {{#basic-dropdown as |dropdown|}}
          <input type="text"
          data-ebd-id="{{dropdown.uniqueId}}-trigger"
          class="modal-datepicker-demo-input"
          placeholder="Select Date"
          onclick={{dropdown.actions.toggle}}
          onfocus={{dropdown.actions.toggle}}
          value={{if changeset.date (moment-format changeset.date 'DD-MM-YYYY')}}
          readonly>

          {{#dropdown.content class="datepicker-demo-dropdown"}}
            {{#power-calendar class="demo-calendar-medium"
              center=center
              onCenterChange=(action (mut center) value="date")
              selected=changeset.date
              onSelect=(action (mut changeset.date) value="date") as |calendar|}}
              {{calendar.nav}}
              {{calendar.days}}
            {{/power-calendar}}
          {{/dropdown.content}}
        {{/basic-dropdown}}
        {{validated-input-modal type="time" placeholder="Start Time" changeset=changeset propertyName="startTime" }}
        {{validated-input-modal type="time" placeholder="End Time" changeset=changeset propertyName="endTime"}}
        <div class="modal-btn__grid">
          {{#link-to 'event' class="modal-btn modal-btn-form" }}Back{{/link-to}}
          <button type="submit" name="Go" class="modal-btn modal-btn-form">Submit</button>
        </div>
      </form>
    {{/with}}
{{/modal-dialog}}