<form action="">
  <p>{{input type="text" placeholder="Title" class="form__input"}}</p>
  <p>{{input type="text" placeholder="Location" class="form__input"}}</p>
  <p>{{input type="text" placeholder="Description" class="form__input"}}</p>
  <p>{{input type="text" placeholder="Date" class="form__input"}}</p>
  {{#link-to "index"}}Back{{/link-to}}
  <button type="submit" name="Go" class="button">Go!</button>
</form>

{{outlet}}
