{{#modal-dialog close="toggleModal" targetAttachment="center" renderInPlace=true translucentOverlay=true}}
  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="img-center" src="https://static1.squarespace.com/static/53c46660e4b07557fac2eb85/t/550ee40ce4b02547ba9c325e/1427039245866/doug-rickard_a-new-american-picture_west-gallery-6-b1.jpg?format=1500w" alt="event image">
      </div>
      <div class="card-block">
        <div class="card-block__grid">
          <span class="card-block__grid-item">{{moment-format model.date "dddd, MMMM Do YYYY"}}</span>
          <span class="card-block__grid-item">{{model.startTime}} - {{model.endTime}}</span>
          <span class="card-block__grid-item">{{model.address}}, {{model.city}}, {{model.state}}</span>
        </div>
      </div>
      <div class="card-block">

        {{#if (and session.isAuthenticated (eq model.createdBy.id currentUser.user.id))}}
          {{#link-to 'event.edit' model}}Edit{{/link-to}}
        {{/if}}

        <h3 class="card-block__heading">{{model.title}}</h3>
      </div>
      <div class="card-block">
        <h3 class="card-block__text">{{model.description}}</h3>
      </div>
      <div class="card-block">
        <div class="card-block__grid">
          <span class="card-block__grid-item">View Previous</span>
          {{#link-to 'event' class="card-block__grid-item" }}Back{{/link-to}}
          <span class="card-block__grid-item">View Next</span>
        </div>
      </div>
    </div>
  </div>
{{/modal-dialog}}
{{outlet}}