{{#modal-dialog close="toggleModal" targetAttachment="center" renderInPlace=true translucentOverlay=true}}
  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="img-center" src="{{model.photoUrl}}" alt="event image">
      </div>
      <div>
        <img src="{{model.bgUrl}}" alt="">
      </div>
      <div class="card-block">
        <div class="card-block__grid">
          <span class="card-block__grid-item">{{moment-format model.date "dddd, MMMM Do YYYY"}}</span>  
          <span class="card-block__grid-item">{{moment-format model.startTime "hh:mm A" "HH:mm"}} - {{moment-format model.endTime "hh:mm A" "HH:mm"}}</span>
          <span class="card-block__grid-item">{{model.address}}, {{model.city}}, {{model.state}}</span>
        </div>
      </div>
      <div class="card-block">
        {{#if (and session.isAuthenticated (eq model.createdBy.id currentUser.user.id))}}
          {{#link-to 'event.edit' model}}Edit{{/link-to}}
          <button class="btn" {{action "deleteEvent" model}}>Delete</button>
        {{/if}}

        <h3 class="card-block__heading">{{model.title}}</h3>
      </div>
      <div class="card-block">
        <h3 class="card-block__text">{{model.description}}</h3>
      </div>
      <div class="card-block">
        <div class="card-block__grid">
          {{#link-to 'event' class="card-block__grid-item"}}Back{{/link-to}}
        </div>
      </div>
    </div>
  </div>
{{/modal-dialog}}
{{outlet}}